
title: Global DevOps Experience
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Welcome to the Global DevOps Experience 2024, a unique, global event where the worlds of DevOps and DevEX converge. 
  This event is designed for those intrigued by the potential of technology to transform traditional development practices into something far more dynamic by using GitHub, AI, security and Azure.
baseurl: "" # the subpath of your site, e.g. /blog

url: www.globaldevopsx.com
logo: /images/banner.png

twitter:
  username: xebia
  card: summary

repository: globaldevopsexperience/event-portal

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-postcss
  - jekyll-seo-tag

postcss:
  cache: false

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#

defaults:
  - scope:
      path: ""
      type: "venues"
    values:
      layout: "venue"
      image: /images/banner.png
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: default
      image: /images/banner.png

collections:
  venues:
    output: true
    permalink: /:collection/:name 

exclude: [
  styles/index.css,
  styles/syntax.css,
  package.json,
  package-lock.json,
  postcss.config.js,
  readme.md,
  generate-venues.js,
  update-participants.js
]
