<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl  }}/assets/favicon.ico">

<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
<meta itemprop="description" name="description"
    content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />

{% seo title=false %}
<meta property="og:image" content="https://www.globaldevopsx.com/images/banner.png">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">