<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="dark">

    <head>
        {% include head.html %}
        <script src="//unpkg.com/d3-dsv"></script>
        <script src="//unpkg.com/index-array-by"></script>
        <script src="//unpkg.com/globe.gl"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        {% include scripts.html %}
    </head>

    <body class="antialiased text-gray-900 bg-gray-900 dark:text-gray-100 dark:bg-gray-900 min-h-screen">
        {{ content }}  

        {% include footer.html %}

    </body>

</html>